<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>FlipCoin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    </head>
	<body>
        <div id="chart" style="width:100%;height:600px;"></div>
        <script>
            const chart = document.getElementById('chart');
            setInterval(async () => {
                const res = await fetch('api/price-chart');
                const trace = await res.json();
                const layout = {
                    title: {
                        text: 'FlipCoin Price'
                    },
                    xaxis: {
                        title: 'Date Time'
                    },
                    yaxis: {
                        title: 'USD (cents)'
                    }
                };
                const data = [trace];

                Plotly.newPlot(chart, data, layout);
            }, 1000)
        </script>
    </body>
</html>